                            <!-- Dashboard Charts -->
                            <% if @tableEntry.present? %>
                                <% count = 0 %>

                                <% @tableEntry.attributes.each do |k,v| %> 
                                    <% if k != 'id' && k != 'created_at' && k != 'updated_at' && k !='user_id' %>

                                        <% if count%2 == 0 %>
                                            <div class="row">
                                        <% end %>

                                            <!-- Reports -->
                                            <div class="col-lg-6 col-md-6 col-sm-6 d-sm-inline-block">
                                                <div class="card shadow mb-4">
                                                    <!-- Card Header - Dropdown -->
                                                    <div
                                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                        <h6 class="m-0 font-weight-bold text-primary"> <%= @fieldValues[count] %></h6>
                                                        <div class="dropdown no-arrow">
                                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                                aria-labelledby="dropdownMenuLink">
                                                                <div class="dropdown-header">Chart Type</div>

                                                                <button class="dropdown-item PieChart" id=<%=count.to_s%>> Pie Chart</button>

                                                                <button class="dropdown-item BarChart" id=<%=count.to_s%>> Bar Chart</button>

                                                                <button class="dropdown-item ColumnChart" id=<%=count.to_s%>> Column Chart</button>

                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item" href="#">Download This Chart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Card Body -->
                                                    <div class="card-body">
                                                        <div id= <%="field_pie_" + count.to_s%> > 
                                                            <%= pie_chart TableEntry.group(k).count %>                  
                                                        </div>

                                                        <div class="displayBarChart" id= <%="field_bar_" + count.to_s%> >
                                                            <%= column_chart TableEntry.group(k).count %>
                                                        </div>

                                                        <div class="displayColumnChart" id= <%="column_bar_" + count.to_s%> >
                                                            <%= bar_chart TableEntry.group(k).count %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% count+=1 %>

                                        <% if count == 2 %>
                                            <% count = 0 %>
                                            </div>
                                            <!-- This will fail if the count is not even-->
                                        <% end %>

                                    <% end %>
                                <% end %>

                            <% else %>
                                <h1> No Data Has Been Uploaded</h1>
                            <% end %>