<div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Source</h6>
                <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <%= link_to 'Sources', sources_path %>
                  </li>
                </ul>

            </div>
            <!-- Card Body -->
            <div class="card-body">
              <%= form_with(model: source, local: true) do |form| %>
                <% if source.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(source.errors.count, "error") %> prohibited this source from being saved:</h2>

                    <ul>
                    <% source.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="field">
                  <%= form.label :source_title %>
                  <%= form.text_field :source_title %>
                </div>

                <div class="actions" id="submit_div">
                  <%= form.submit %>
                </div>
              <% end %>
            </div>
          </div>
</div>

<script type="text/javascript">
  
  var source_input = document.getElementById('source_source_title');
  var submit_button = document.getElementById('submit_div');
  var warning = false;
  console.log(submit_button.firstElementChild)

  source_input.addEventListener("keyup", function(){

    let res = /^[a-zA-Z]+$/.test(source_input.value);
    if (res === false && source_input.value.length > 0){
      submit_button.firstElementChild.disabled = true;

      if (warning === false){
        text_warning()  
      }
      
      warning = true;
    } else {

      submit_button.firstElementChild.disabled = false;
      
      if (warning === true){
      var text_node_p = document.getElementById('text_node');
      text_node_p.remove();
}
      warning = false;
    }

    function text_warning() {
      var text_node = document.createElement("p");
      text_node.id = "text_node";
      text_node.style.color = "red";
      text_node.innerHTML = "Only Letters Allowed";

      submit_button.appendChild(text_node)

    }

  })
</script>