<div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Sources</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
              <p id="notice"><%= notice %></p>

              <table class="table table-stripped">
                <thead>
                  <tr>
                    <th>Source title</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @sources.each do |source| %>
                    <tr>
                      <td><%= source.source_title %></td>
                      <td><%= link_to 'Edit', edit_source_path(source) %></td>
                      <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

              <br>

              <%= link_to 'New Source', new_source_path, class: 'btn btn-primary text-white' %>
        </div>
    </div>
</div>
