<%= form_with(model: csv_upload, local: true) do |form| %>
  <% if csv_upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(csv_upload.errors.count, "error") %> prohibited this csv_upload from being saved:</h2>

      <ul>
      <% csv_upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, :value => current_user.id %>
  </div>

  <div class="field">
    <%= form.label :csv_file %>
    <%= form.file_field :csv_file %>
  </div>

  <div class="field">
    <%= form.label :forescout_id %>
    <%= form.text_field :forescout_id %>
  </div>
    <div class="field">
    <%= form.label :source_id %>
    <%= form.text_field :source_id %>
  </div>
    <div class="field">
    <%= form.label :policy_id %>
    <%= form.text_field :policy_id %>
  </div>

    <div class="field">
    <%= form.label :uploaded %>
    <%= form.check_box :uploaded %>
  </div>

      <div class="field">
    <%= form.label :flagged %>
    <%= form.check_box :flagged %>
  </div>






  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
