<%= form_with(model: csv_upload, local: true) do |form| %>
  <% if csv_upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(csv_upload.errors.count, "error") %> prohibited this csv_upload from being saved:</h2>

      <ul>
      <% csv_upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>For Testing, use user 333</p>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :csv_file %>
    <%= form.file_field :csv_file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
