    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">My Uploads</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Action:</div>

                        <%= link_to 'New Upload', new_csv_upload_path, class: 'dropdown-item' %>

                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped">
                  <thead>
                    <tr>

                        <th> csv_file </th>
                        <th> csv_upload_date </th>
                        <th> logstash_path </th>
                        <th> logstash_host </th>
                        <th> logstash_index </th>

                    </tr>
                  </thead>

                  <tbody>
                    <% @csv_uploads.each do |csv_upload| %>
                    <tr>
                        <td> <%= csv_upload.csv_file %> </td>
                        <td> <%= csv_upload.csv_upload_date %> </td>
                        <td> <%= csv_upload.logstash_path %> </td>
                        <td> <%= csv_upload.logstash_host %> </td>
                        <td> <%= csv_upload.logstash_index %> </td>
                    </tr>
                    <% end %>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
