
<% if notice.present? %>
  <div id="notice" class="alert alert-dark" role="alert">
      <%= notice %>
  </div>
<% end %>


<div class="row">
  <div class="col">
    <p> Date:<%= @csv_upload.csv_upload_date %> </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p> Directory:<%= @csv_upload.logstash_path %> </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p> Column:<%= @csv_upload.logstash_column %> </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p> Host:<%= @csv_upload.logstash_host %> </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p> Index: <%= @csv_upload.logstash_index %> </p>
  </div>
</div>

<hr>

<%= link_to 'Edit', edit_csv_upload_path(@csv_upload) %> |
<%= link_to 'Back', csv_uploads_path %>
