<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row" style="text-align: center; ">
    <div class="col">
      <h3>ABC Company</h3>
      <h3>Cyber and Asset Dashboard</h3>
      <p>Today's Date is: <%= Date.today %> </p>      
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <p style="text-align: center;">Total Number of Devices/Endpoints</p>
      <%= line_chart @table_entries.group_by_day(:created_at).count %>
    </div>

    <div class="col-6">
      <p style="text-align: center;">Number of Devices by Operating System</p>
      <%= pie_chart @table_entries.group(:field_seven).count %>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-2">
    <p style="text-align: center;">IoT Data</p>
    <%= pie_chart @table_entries.group(:field_two).count %>
  </div>
  <div class="col-2">
    <p style="text-align: center;">Wireless</p>
    <%= pie_chart @table_entries.group(:field_seven).count %>
  </div>
  <div class="col-2">
    <p style="text-align: center;">Endpoint Compliance</p>
    <%= pie_chart @table_entries.group(:field_seven).count %>
  </div>
  <div class="col-2">
    <p style="text-align: center;">Security Risk</p>
    <%= pie_chart @table_entries.group(:field_five).count %>
  </div>
  <div class="col-2">
    <p style="text-align: center;">Software Vulnerabilities</p>
    <%= pie_chart @table_entries.group(:field_seven).count %>
  </div>
</div>



