<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row" style="text-align: center; ">
    <div class="col">
      <h3>ABC Company</h3>
      <h3>Cyber and Asset Dashboard</h3>
      <p>Today's Date is: <%= Date.today %> </p>      
    </div>
  </div>

  <div class="row">
    <div class="col-6">

      <%= line_chart @table_entries.group_by_month(:csv_upload_date).count, xtitle: "Month", ytitle: "Devices", title: "Total Number of Devices/Endpoints" %>
    </div>

    <div class="col-6">
      <%= pie_chart @table_entries.group(:field_seven).count, title: "Number of Devices by Operating System" %>
    </div>
  </div>
</div>
<hr>

<div class="row justify-content-center">
  <div class="col-2">
    <%= pie_chart @table_entries.group(:field_two).count, legend: "bottom", title: "IoT Data" %>
    <p style="text-align: center;">Total IoT Devices: 602</p>
  </div>
  <div class="col-2">
    <%= pie_chart @table_entries.group(:field_seven).count, legend: "bottom", donut: true, title: "Wireless" %>
    <p style="text-align: center;">Total Wireless Connections: 367</p>
  </div>
  <div class="col-2">
    <%= pie_chart @table_entries.group(:field_seven).count, legend: "bottom", title: "Endpoint Compliance" %>
    <p style="text-align: center;">Total Unresolved Agents: 101</p>
  </div>
  <div class="col-2">
    <%= pie_chart @table_entries.group(:field_five).count, legend: "bottom", title: "Security Risks" %>
    <p style="text-align: center;">Total Potential Security Risks: 98</p>
  </div>
  <div class="col-2">
    <%= pie_chart @table_entries.group(:field_seven).count, legend: "bottom", title: "Software Vulnerabilities" %>
    <p style="text-align: center;">Total Potential Vulnerabilties: 101</p>
  </div>
</div>



