<p id="notice"><%= notice %></p>

<h1>Table Entries</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <% @masterRow.each do |x| %>
        <th> <%= x %></th>
      <% end %>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_entries.each do |table_entry| %>
      <tr>
        <td><%= table_entry.field_one %></td>
        <td><%= table_entry.field_two %></td>
        <td><%= table_entry.field_three %></td>
        <td><%= table_entry.field_four %></td>
        <td><%= table_entry.field_five %></td>
        <td><%= table_entry.field_six %></td>
        <td><%= table_entry.field_seven %></td>
        <td><%= table_entry.field_eight %></td>
        <td><%= table_entry.field_nine %></td>
        <td><%= table_entry.field_ten %></td>
        <td><%= link_to 'Show', table_entry %></td>
        <td><%= link_to 'Edit', edit_table_entry_path(table_entry) %></td>
        <td><%= link_to 'Destroy', table_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table Entry', new_table_entry_path %>
