<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row" style="text-align: center; ">
    <div class="col">
      <h3>ABC Company</h3>
      <h3>Cyber and Asset Dashboard</h3>
      <p>Today's Date is: <%= Date.today %> </p>      
    </div>
  </div>

  <div class="row">
    <div class="col-6">

      <%= line_chart @table_entries.group_by_month(:csv_upload_date).count, xtitle: "Month", ytitle: "Devices", title: "Total Number of Devices/Endpoints" %>
    </div>

    <div class="col-6">
      <%= pie_chart @table_entries.group(:field_seven).count, title: "Number of Devices by Operating System" %>
    </div>
  </div>
</div>
<hr>
<!-- Charts -->
<div class="row">
  <% @brewed.each do |k,v| %>
    <div class="col-lg-4 col-md-4 col-sm-4 d-sm-inline-block">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"> <%= k %> </h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Chart Type</div>

                        <button class="dropdown-item PieChart" id='1'> Pie Chart</button>

                        <button class="dropdown-item BarChart" id='2'> Bar Chart</button>

                        <button class="dropdown-item ColumnChart" id='3'> Column Chart</button>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Download This Chart</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <%= pie_chart(v) %>
              Total: <%= (v.map{|x| x[1]}).sum %>
            </div>
        </div>
    </div>
  <% end %>
</div>
<!-- Charts -->
<hr>

<div class="row justify-content-center">
  <div class="col-2">
    <%= pie_chart @table_entries.group(:field_two).count, legend: "bottom", title: "IoT Data" %>
    <p style="text-align: center;">Total IoT Devices: 602</p>
  </div>
  <div class="col-2">
    <%= pie_chart @table_entries.group(:field_seven).count, legend: "bottom", donut: true, title: "Wireless" %>
    <p style="text-align: center;">Total Wireless Connections: 367</p>
  </div>
  <div class="col-2">
    <%= pie_chart @table_entries.group(:field_seven).count, legend: "bottom", title: "Endpoint Compliance" %>
    <p style="text-align: center;">Total Unresolved Agents: 101</p>
  </div>
  <div class="col-2">
    <%= pie_chart @table_entries.group(:field_five).count, legend: "bottom", title: "Security Risks" %>
    <p style="text-align: center;">Total Potential Security Risks: 98</p>
  </div>
  <div class="col-2">
    <%= pie_chart @table_entries.group(:field_seven).count, legend: "bottom", title: "Software Vulnerabilities" %>
    <p style="text-align: center;">Total Potential Vulnerabilties: 101</p>
  </div>
</div>



