<div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Add Color</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">

              <%= form_with(model: user_color, local: true) do |form| %>
                <% if user_color.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(user_color.errors.count, "error") %> prohibited this user_color from being saved:</h2>

                    <ul>
                    <% user_color.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= form.label :color %>
                  <%= form.text_field :color, class: 'form-control' %>
                  <small id="emailHelp" class="form-text text-muted">Please use Hex format. For example #0048BA</small>
                </div>

                <%= form.hidden_field :user_id  %>

                <div class="actions">
                  <%= form.submit %> 
                </div>
              <% end %>

            </div>
          </div>
</div>