<p id="notice"><%= notice %></p>

    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Elastic Policy</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Action:</div>
                                <!-- enter drop down-->

                                <%= link_to 'False Create', false_create_path, method: :post, class: 'dropdown-item' %>
                                <%= link_to 'Elastic Policies', elastic_policies_path, class: 'dropdown-item' %>
                    </div>
                </div>
            </div> 
            <!-- Card Body -->
            <div class="card-body">
            	<p id="elasticID" style="display: none;"> <%= @elastic_policy.id %></p>
                <%= form_with(model: @elastic_policy, local: true) do |form| %>
 

                  <div class="row">
                    <div class="col">
                      <div class="field">
                        <%= form.label :title  %>
                        <%= form.text_field :title,class: 'form-control' %>
                      </div>
                    </div>

                    <div class="col">
                      <div class="field">

                      		<p id="sources" style="display: none;"> 
                      			<% @elastic_policy.source.each do |x| %> 
                      				<%= x %>,
                      			<% end %>
                      		</p>

                          <%= form.label :source  %> <i class="fa fa-plus" id="add_source"></i>
                        <%= form.text_field :source, id: 'source' ,class: 'form-control'%> 

                        <sub id="current_source_values">Added Sources</sub>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col">
                        <h5 style="text-align: center;">Input Requirement  <i class="fa fa-plus" id="add_input"></i></h5>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Header Value</th>
                              <th>Value</th>
                              <th>Remove</th>
                            </tr>
                          </thead>

                          <tbody id="input_div">
								<% @elastic_policy.input_requirements.each do |k,v| %>
								<p class="inputCount" style="display: none;"> <%= k %></p>
									<tr id="input_fields" >
								      <td>
								        <select id="input_requirement_header_id" class="input_requirement_select" name="Device Type">
								          <option><%= v['key'] %></option>
								          <option value="1">DeviceWired</option>
								          <option value="2">DeviceType</option>
								          <option value="3">DeviceName</option>
								          <option value="3">@version</option>
								          <option value="1">DeviceOS</option>
								          <option value="2">Source</option>
								          <option value="3">DeviceAV</option>
								          <option value="1">DeviceChip</option>
								          <option value="2">Region</option>
								          <option value="3">DeviceIP</option>
								          <option value="3">@timestamp</option>
								          <option value="3">DeviceMac</option>
								          <option value="3">host</option>
								        </select>
								      </td>

								      <td>
								        <select id="input_requirement_value_id" name="Device Type" class="input_requirement_value">
								          <option><%= v['value'] %></option>
								          <option value="1">No</option>
								          <option value="2">Laptop</option>
								          <option value="3">1</option>
								          <option value="1">Sameer-laptop</option>
								          <option value="2">Windows 10</option>
								          <option value="3">RSI</option>
								          <option value="1">Symantec</option>
								          <option value="2">Intel i7</option>
								          <option value="3">DESKTOP-8NACH6E</option>
								          <option value="1">Virginia USA</option>
								          <option value="2">192.168.1.3</option>
								          <option value="3">2021-04-12T04:42:02.939Z</option>
								          <option value="1">9C-B6-D0-BD-ED-EB</option>
								        </select>
								      </td>
									  <td> <i class="fa fa-minus minus_row" ></i> </td>
							      	</tr>
								<% end %>
                          </tbody>
                        </table>
                    </div>

                    <!-- OutPut-->
                    <div class="col">
                        <h5 style="text-align: center;">Output Mapping <i class="fa fa-plus" id="add_output"></i></h5>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Report Type</th>
                              <th>Report Value</th>
                              <th>Remove</th>
                            </tr>
                          </thead>

                          <tbody id="output_div">
                            
								<% @elastic_policy.policy_output.each do |k,v| %>
									<tr id="output_fields" >
										<p class="outputCount" style="display: none;"> <%= k %></p>
								          <td>	
								            <select id= "<%= 'elastic_policy_report_type_id_' + k %>" class="report_type_select">
								              <option><%= v['key'] %></option>
								              <% @report_types.each do |x| %>
								               <option><%= x.title %></option>
								              <% end %>
								            </select>
								          </td>

								          <td>

								            <select id= "<%= 'elastic_policy_report_values_id_' + k %>" class="report_value_select">
												      <option><%= v['value'] %></option>
								            </select>
								          </td>

								          <td> <i class="fa fa-minus minus_row" ></i> </td>
								    </tr>
								<% end %>
                            
                          </tbody>
                        </table>
                    </div>

                  </div>

                <% end %>

            </div>
        </div>
    </div>
<button id ="submission"> Update Policy</button>
    
<script type="text/javascript">

	var elasticID = document.getElementById('elasticID').innerHTML;
    var add_input = document.getElementById('add_input');
    var input_fields = document.getElementById('input_fields');
    var input_div = document.getElementById('input_div');
    //
    var add_output = document.getElementById('add_output');
    var output_fields = document.getElementById('output_fields');
    var output_div = document.getElementById('output_div');
    var output_county = document.getElementsByClassName('outputCount')
    	var lastCount = output_county[output_county.length-1].innerHTML
    //
    var source_input = document.getElementById('source')
    var add_source = document.getElementById('add_source')

    var sources = document.getElementById('sources').innerHTML
    var source_collection = sources.replace(/\s/g, '').split(',');
		source_collection.pop()
    var current_source_values = document.getElementById('current_source_values')
    	current_source_values.innerHTML = source_collection
    	source_input.value = ''


    //
    var input_requirement_select = document.getElementsByClassName('input_requirement_select');
    var input_requirement_value = document.getElementsByClassName('input_requirement_value')
    var report_type_select = document.getElementsByClassName('report_type_select');
    var report_value_select = document.getElementsByClassName('report_value_select')
    var policy_title = document.getElementById('elastic_policy_title')

    var output_key = []
    var output_value = []
    var input_key = []
    var input_value = []
    var submission = document.getElementById('submission')

    var minus_row = document.getElementsByClassName('minus_row');
  // Ajax Submit
    submission.addEventListener('click', function(){
      //output 

        for (var i =0; i < report_type_select.length; i++){
          report_type =report_type_select[i].options[report_type_select[i].selectedIndex].text
          report_value = report_value_select[i].options[report_value_select[i].selectedIndex].text
          output_key.push(report_type)
          output_value.push(report_value)
        };

      // input 
        for (var i =0; i < input_requirement_select.length; i++){
          key =input_requirement_select[i].options[input_requirement_select[i].selectedIndex].text
          value = input_requirement_value[i].options[input_requirement_value[i].selectedIndex].text
          input_key.push(key)
          input_value.push(value)
        };

              var mydata = {
                  title: policy_title.value,
                  source: current_source_values.innerHTML,
                  output_keys: output_key,
                  output_values: output_value,
                  input_keys: input_key,
                  input_values: input_value
              }   

               Rails.ajax({
                    type: "PUT", 
                    url: "/elastic_policies" +"/"+ elasticID, 
                    data: new URLSearchParams(mydata).toString(), 
                })
    })
  //

  //Ajax Output
    output_change_listener();
    function output_change_listener(){
        for (var i =0; i < report_type_select.length; i++){
          report_type_select[i].addEventListener('change', function(e){
              //console.log("What am i clicking on", e);
              var report_values_type = e.srcElement
              console.log("values type", report_values_type.id)
              
              var field_selected = report_values_type.options[report_values_type.selectedIndex].text
              //console.log("here",field_selected)
              var mydata = {
                  field_selection: field_selected,
                  id_selection: report_values_type.id
              }   

               Rails.ajax({
                    type: "POST", 
                    url: "/update_output", 
                    data: new URLSearchParams(mydata).toString(), 
                })
            })
          }
    }

  //

  // Ajax Input
    input_change_listener();
    function input_change_listener(){
        for (var i =0; i < input_requirement_select.length; i++){
          input_requirement_select[i].addEventListener('change', function(e){
              //console.log("What am i clicking on", e);
              var report_values_type = e.srcElement
              console.log("values type", report_values_type.id)
              
              var field_selected = report_values_type.options[report_values_type.selectedIndex].text
              //console.log("here",field_selected)
              var mydata = {
                  field_selection: field_selected,
                  id_selection: report_values_type.id
              }   

               Rails.ajax({
                    type: "POST", 
                    url: "/update_input", 
                    data: new URLSearchParams(mydata).toString(), 
                })
            })
          }
    }
  //

  // Add to source 
    
    add_source.addEventListener('click', function(){
      //var source_collection = source.value.split(',')
      source_collection.push(source_input.value)
      current_source_values.innerHTML = source_collection
      source_input.value = ''
    })
  //

  // Clone Output    
    add_output.addEventListener('click', function(){
    	var clickCount = Number(lastCount)
    	console.log('askdfjals;kfja', clickCount)
      clickCount += 1
      var cloneDiv = output_fields.cloneNode(true);
      var cloneDivSelectType = cloneDiv.children[0].firstElementChild
      var cloneDivSelect = cloneDiv.children[1].firstElementChild

      cloneDivSelect.id = 'elastic_policy_report_values_id' + '_' + clickCount
      cloneDivSelectType.id = 'elastic_policy_report_type_id' + '_' + clickCount
      console.log("THIS", cloneDiv.children[1].firstElementChild)
      cloneDiv.id = "newID" //this needs to be randomized/unique
      output_div.appendChild(cloneDiv);
      //update the collection
      report_type_select = document.getElementsByClassName('report_type_select');
      output_change_listener()
    })
  //

  // Clone Input Requirements
    add_input.addEventListener('click', function(){
      var cloneInputDiv = input_fields.cloneNode(true);
      cloneInputDiv.id = "newID" //this needs to be randomized/unique
      input_div.appendChild(cloneInputDiv);
    })
  //

  //minus row
  for (var i =0; i < minus_row.length; i++){
  	minus_row[i].addEventListener('click', function(e){
  		e.srcElement.parentElement.parentElement.remove()
  	})
  }





</script>
