<p id="notice"><%= notice %></p>

<h1>Report Values</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Report type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @report_values.each do |report_value| %>
      <tr>
        <td><%= report_value.title %></td>
        <td><%= report_value.report_type_id %></td>
        <td><%= link_to 'Show', report_value %></td>
        <td><%= link_to 'Edit', edit_report_value_path(report_value) %></td>
        <td><%= link_to 'Destroy', report_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report Value', new_report_value_path %>
