<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report_value.title %>
</p>

<p>
  <strong>Report type:</strong>
  <%= @report_value.report_type_id %>
</p>

<%= link_to 'Edit', edit_report_value_path(@report_value) %> |
<%= link_to 'Back', report_values_path %>
