    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">User: <%= @user.email %></h6>
 
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <%= form_with(model: @user, local: true) do |form| %>
                
                <div class="field">
                  <%= form.label :user_first_name %>
                  <%= form.text_field :user_first_name %>
                </div>
                <div class="field">
                  <%= form.label :user_last_name %>
                  <%= form.text_field :user_last_name %>
                </div>
                <div class="field">
                  <%= form.label :email %>
                  <%= form.text_field :email %>
                </div>

                <div class="actions">
                  <%= form.submit %>
                </div> 
              <% end %>
            </div>
          </div>
        </div>

