
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">User: <%= @selected_user.email %></h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Action:</div>
                                <!-- enter drop down-->
                                <%= link_to 'New Elastic Policy', new_elastic_policy_path, class: 'dropdown-item' %>
                                <%= link_to 'Refresh Data', false_create_path, method: :post, class: 'dropdown-item' %>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
            <p>First Name</p>
            <p><%= @selected_user.user_first_name %></p>
            <hr>
            <p>Last Name</p>
            <p><%= @selected_user.user_last_name %></p>
            <hr>

            <p>Created At</p>
            <p><%= @selected_user.created_at %></p>
            <hr>
          </div>
        </div>
      </div>
