<p id="notice"><%= notice %></p>

<h1>Elastic Reports</h1>

<table>
  <thead>
    <tr>
      <th>Report type</th>
      <th>Report value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elastic_reports.each do |elastic_report| %>
      <tr>
        <td><%= elastic_report.report_type_id %></td>
        <td><%= elastic_report.report_value_id %></td>
        <td><%= link_to 'Show', elastic_report %></td>
        <td><%= link_to 'Edit', edit_elastic_report_path(elastic_report) %></td>
        <td><%= link_to 'Destroy', elastic_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Elastic Report', new_elastic_report_path %>
