
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Data Dictionary</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Action:</div>
                                <%= link_to 'New Data Dictionary', new_data_dictionary_path, class: 'dropdown-item' %>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-stripped">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Admin</th>
                      <th>Csv header name</th>
                      <th>Maps to</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @data_dictionaries.each do |data_dictionary| %>
                      <tr>
                        <td><%= data_dictionary.user_id %></td>
                        <td><%= data_dictionary.admin_id %></td>
                        <td><%= data_dictionary.csv_header_name %></td>
                        <td><%= data_dictionary.maps_to %></td>
                        <td><%= link_to 'Show', data_dictionary %></td>
                        <td><%= link_to 'Edit', edit_data_dictionary_path(data_dictionary) %></td>
                        <td><%= link_to 'Destroy', data_dictionary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>

                <br>
            </div>
        </div>
    </div>






  
