<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @data_dictionary.user_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @data_dictionary.admin_id %>
</p>

<p>
  <strong>Csv header name:</strong>
  <%= @data_dictionary.csv_header_name %>
</p>

<p>
  <strong>Maps to:</strong>
  <%= @data_dictionary.maps_to %>
</p>

<%= link_to 'Edit', edit_data_dictionary_path(@data_dictionary) %> |
<%= link_to 'Back', data_dictionaries_path %>
