<p id="notice"><%= notice %></p>
<% if current_user.master_table.present? %>
<p>
  <strong>Field one:</strong>
  <%= @master_table.field_one %>
</p>

<p>
  <strong>Field two:</strong>
  <%= @master_table.field_two %>
</p>

<p>
  <strong>Field three:</strong>
  <%= @master_table.field_three %>
</p>

<p>
  <strong>Field 4:</strong>
  <%= @master_table.field_four %>
</p>

<p>
  <strong>Field 5:</strong>
  <%= @master_table.field_five %>
</p>

<p>
  <strong>Field 6:</strong>
  <%= @master_table.field_six %>
</p>

<p>
  <strong>Field 7:</strong>
  <%= @master_table.field_seven %>
</p>

<p>
  <strong>Field 8:</strong>
  <%= @master_table.field_eight %>
</p>

<p>
  <strong>Field 9:</strong>
  <%= @master_table.field_nine %>
</p>

<p>
  <strong>Field 10:</strong>
  <%= @master_table.field_ten %>
</p>


<%= link_to 'Edit', edit_master_table_path(@master_table.id) %>
<% else %>
<p>Create A Master Table </p>
<%= link_to 'New Master Table', new_master_table_path %>
<% end %>


