<%= form_with(model: chart_preference, local: true) do |form| %>
  <% if chart_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chart_preference.errors.count, "error") %> prohibited this chart_preference from being saved:</h2>

      <ul>
      <% chart_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :table_name %>
    <%= form.select :table_name, options_for_select(@headerValues.collect{ |u| [u, u]}) %>
  </div>

  <div class="field">
    <%= form.label :hide_table %>
    <%= form.check_box :hide_table %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
